{% extends "base.html.twig" %}

{% block body %}
  <div class="d-flex flex-row flex-wrap justify-content-center">
    {% for kviz in kvizy %}
        <div class="card text-white bg-secondary mb-3 mx-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ kviz.nazev }}</h5>
                <p class="card-text">{{ kviz.popis }}</p>
                <a href="{{ path("app_question_show", { slug: kviz.slug }) }}" class="btn btn-primary">vstup do kvízu</a>
            </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}