{% extends "question/show.html.twig" %}

{% block title %}{{ question }}{% endblock %}

{% block otazkySeznam %}
    {% for otazka in kviz.otazky %}
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h6 class="border-bottom pb-2 mb-0 fw-bold">
                {% if otazka.jeZodpovezenaSpravne == 1 %}
                    <i class="fas fa-check-circle text-success"></i>
                {% else %}
                    <i class="fas fa-times-circle text-danger"></i>
                {% endif %}
                {{ otazka.otazka }}
            </h6>
            <div class="d-flex flex-column text-muted pt-3">
                {% for odpoved in otazka.odpovedi %}
                    {% set pozadi = '' %}
                    {% if odpoved.jeVybrana == 0 and odpoved.jeSpravna == 1 %}
                        {% set pozadi = 'bg-danger bg-gradient text-white' %}
                    {% endif %}

                    {% if odpoved.jeVybrana == 1 and odpoved.jeSpravna == 1 %}
                         {% set pozadi = 'bg-success bg-gradient text-white' %}
                    {% endif %}

                    <div class="p-3 small border-bottom rounded w-100 {{ pozadi }}">
                        {{ odpoved.odpoved }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
